<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/adminhomepage.css" />
    <title>SEPS</title>
  </head>
  <body>
    <header>
      <h3>evaluator/admin panel</h3>
    </header>
    <main>
      <a href="/admin/createstaff"> create staff account</a>
      <a href="/admin/allstaff"> check all staff</a>
      <a href="/admin/createevaluation"> create evaluation</a>
      <a href="/admin/allevaluation">check all evaluation</a>
      <a href="/admin/staffevaluation"> check staff evaluation</a>
    </main>
  </body>
</html>
