<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SPES</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    <h3>computerized staff performance Evaluation System</h3>
    <div class="button">
      <a href="/admin/">admin/evaluator</a>
      <a href="/staff/">staff</a>
    </div>
  </body>
</html>
